<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{% block head_title %}{{ head_title|default('Home') }}{% endblock %}</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  {% block stylesheets %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('unify/favicon.ico') }}" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" />
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('unify/vendor/bootstrap/bootstrap.min.css') }}" />

    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{{ asset('unify/vendor/icon-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/icon-line/css/simple-line-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/icon-etlinefont/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/icon-line-pro/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/icon-hs/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/dzsparallaxer/dzsparallaxer.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/dzsparallaxer/dzsscroller/scroller.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/dzsparallaxer/advancedscroller/plugin.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/animate.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/fancybox/jquery.fancybox.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/slick-carousel/slick/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/typedjs/typed.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/hs-megamenu/src/hs.megamenu.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/vendor/hamburgers/hamburgers.min.css') }}" />

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{{ asset('unify/css/unify-core.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/css/unify-components.css') }}" />
    <link rel="stylesheet" href="{{ asset('unify/css/unify-globals.css') }}" />
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ asset('unify/css/custom.css') }}" />
  {% endblock %}

</head>
<body class="tk">
<main>

  <!-- Header -->
  {{ include('unify/header.html.twig') }}
  <!-- End Header -->

  <!-- Breadcrumbs -->
  {% block breadcrumbs %}
    <section class="g-bg-gray-light-v5 g-py-50">
      <div class="container">
        <div class="d-sm-flex text-center">
          <div class="align-self-center">
            <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Home</h2>
          </div>
          <div class="align-self-center ml-auto">
            <ul class="u-list-inline">
              <li class="list-inline-item g-color-primary">
                <span>Home</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  <!-- End Breadcrumbs -->

  {% block body %}{% endblock %}

  <!-- Footer -->
  {{ include('unify/footer.html.twig') }}
  <!-- End Footer -->

  <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{ "bottom": 15 ,"right": 15}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
</main>

<div class="u-outer-spaces-helper"></div>



{% block javascripts %}

<!-- JS Global Compulsory -->
<script src="{{ asset('unify/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('unify/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('unify/vendor/popper.js/popper.min.js') }}"></script>
<script src="{{ asset('unify/vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset('unify/vendor/appear.js') }}"></script>
<script src="{{ asset('unify/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
<script src="{{ asset('unify/vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
<script src="{{ asset('unify/vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
<script src="{{ asset('unify/vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
<script src="{{ asset('unify/vendor/slick-carousel/slick/slick.js') }}"></script>
<script src="{{ asset('unify/vendor/fancybox/jquery.fancybox.min.js') }}"></script>

<!-- JS Unify -->
<script src="{{ asset('unify/js/hs.core.js') }}"></script>

<script src="{{ asset('unify/js/components/hs.header.js') }}"></script>
<script src="{{ asset('unify/js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('unify/js/components/hs.tabs.js') }}"></script>
<script src="{{ asset('unify/js/components/hs.carousel.js') }}"></script>
<script src="{{ asset('unify/js/components/hs.progress-bar.js') }}"></script>
<script src="{{ asset('unify/js/components/hs.popup.js') }}"></script>
<script src="{{ asset('unify/js/components/hs.go-to.js') }}"></script>

<!-- JS Customization -->
<script src="{{ asset('unify/js/custom.js') }}"></script>


<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');

    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]');

    // initialization of popups
    $.HSCore.components.HSPopup.init('.js-fancybox');

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });

    // initialization of horizontal progress bars
    setTimeout(function () {
      var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
        direction: 'horizontal',
        indicatorSelector: '.js-hr-progress-bar-indicator'
      });
    }, 1);
  });

  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    }, 200);
  });
</script>

{% endblock %}

</body>
</html>