{% extends 'unify/base.html.twig' %}

{% block head_title %}Contact{% endblock %}

{% block breadcrumbs %}
  <section class="g-bg-gray-light-v5 g-py-50">
    <div class="container">
      <div class="d-sm-flex text-center">
        <div class="align-self-center"><h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Contact Us</h2></div>
        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5"><a class="u-link-v5 g-color-main g-color-primary--hover" href="{{ path('app_home') }}">Home</a> <i class="g-color-gray-light-v2 g-ml-5">/</i></li>
            <li class="list-inline-item g-color-primary"><span>Contact</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block body %}
  <section class="container g-py-100">
    <div class="row g-mb-20">
      <div class="col-lg-6 g-mb-50">
        <!-- Heading -->
        <h2 class="h1 g-color-black g-font-weight-700 mb-4">How can we assist you?</h2>
        <p class="g-font-size-18 mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
        <!-- End Heading -->
      </div>
      <div class="col-lg-3 align-self-end ml-auto g-mb-50">
        <div class="media">
          <div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-033 u-line-icon-pro"></i>
                </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Phone Number</h3>
            <p class="mb-0">+32 (0) 333 444 555</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 align-self-end ml-auto g-mb-50">
        <div class="media">
          <div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-062 u-line-icon-pro"></i>
                </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Email Address</h3>
            <p class="mb-0">htmlstream@support.com</p>
          </div>
        </div>
      </div>
    </div>

    {{ form_start(form) }}
    <div class="row justify-content-center">
      <div class="col-md-5">

          <div class="row">
            <div class="col-md-6 form-group g-mb-20">
              {{ form_label(form.firstName, null, {'attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
              {{ form_errors(form.firstName) }}
              {{ form_widget(form.firstName, {'attr': {
                'class': 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15',
                'placeholder': 'First Name'
              }}) }}
              {{ form_help(form.firstName) }}
            </div>
            <div class="col-md-6 form-group g-mb-20">
              {{ form_label(form.lastName, null, {'attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
              {{ form_errors(form.lastName) }}
              {{ form_widget(form.lastName, {'attr': {
                'class': 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15',
                'placeholder': 'Last Name'
              }}) }}
              {{ form_help(form.lastName) }}
            </div>
          </div>

          <div class="g-mb-20">
              {{ form_label(form.email, 'Your Email', {'attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
              {{ form_errors(form.email) }}
              {{ form_widget(form.email, {'attr': {
                'class': 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15',
                'placeholder': 'Email'
              }}) }}
              {{ form_help(form.email) }}
          </div>

          <div class="g-mb-20">
            {{ form_label(form.phone, 'Phone Number', {'attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone, {'attr': {
              'class': 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15',
              'placeholder': 'Phone'
            }}) }}
            {{ form_help(form.phone) }}
          </div>


      </div>
      <div class="col-md-7">
        <div class="g-mb-40">

          {{ form_label(form.message, 'Your Message', {'attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
          {{ form_errors(form.message) }}
          {{ form_widget(form.message, {'attr': {
            'class': 'form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15',
            'placeholder': 'Hi there, I would like to ...',
            'rows': '12'
          }}) }}
          {{ form_help(form.phone) }}
        </div>

        <div class="text-right">
          {{ form_widget(form.send, {'attr': {
            'class': 'btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35'
          }}) }}
{#          <button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35" type="submit" name="send" id="fid-send" role="button">Send</button>#}
        </div>
      </div>

    </div>
    {{ form_end(form) }}
  </section>
{% endblock %}